Flask
opencv-python-headless
ultralytics
insightface
deep_sort_realtime
numpy
pymongo
scipy
matplotlib
tqdm
requests
pillow
scikit-learn
scikit-image
easydict
cython
albumentations
prettytable
PyYAML
urllib3
onnxruntime-gpu
opencv-python